name: OWASP ZAP Full Scan

on:
  workflow_dispatch:
    inputs:
      target_url:
        description: "URL to scan with OWASP ZAP"
        required: true
        type: string

jobs:
  zap_full_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run OWASP ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.11.0
        with:
          target: "${{ github.event.inputs.target_url }}"
          cmd_options: "-a"

      # Save ZAP report
      - name: Upload ZAP HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap-report.html
